{% extends 'base.html' %}
{% load static %}

{% block main %}
{% for post in paginator.object_list %}
<div class="row post-{{ post.pk }}">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-image">
        <img src="{{ post.picture.shot.url }}" />
        <a href="{{ post.get_absolute_url }}"><span class="card-title">{{ post.title }}</span></a>
      </div>
      <div class="card-content">
        <p>{{ post.excerpt }}</p>
      </div>
    </div>
  </div>
</div>
{% empty %}
  <div class="row valign center">
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">暂时还没有发布的文章</span>
          <p>欢迎大家积极投稿，参与创作，为科协添砖加瓦。</p>
        </div>
        <div class="card-action">
          <a href="#">这是一个投稿链接</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<div class="container">
  <ul class="pagination center">
    <li class="waves-effect disabled"><a href="/gallery?page={{ paginator.previous_num }}"><i class="material-icons">chevron_left</i></a></li>
    {% for page_num in paginator.pagerange_disp %}
      <li class="waves-effect"><a href="/gallery?page={{ page_num }}">{{ page_num }}</a></li>
    {% endfor %}
    <li class="waves-effect disabled"><a href="/gallery?page={{ paginator.next_num }}"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
{% endblock main %}

<!-- {% block footer %}
{% endblock footer %} -->