{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="parallax-container">
  <!-- 欢迎索引 -->
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text darken-2">欢迎来到</h1>
      <div class="row center">
        <h5 class="header col s12 light brown-text darken-4">这里需要填写一段口号</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">加入我们</a>
      </div>
      <div class="parallax">
        <img src="{% static 'img/background.png' %}" alt="Unsplashed background img 1" style="width: auto; max-width: 100%; opacity: 1;">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="card-panel hoverable col s12 m4">
        <div class="icon-block">
          <!-- <h2 class="center brown-text"><i class="material-icons">icon-1</i></h2> -->
          <h5 class="center">电子部</h5>
          <p class="light">一·部门定位</p>
          <p class="light">
            电光院科协电子部负责单片机以及微控制器、电路、仿真等相关授课工作，同时举办科技活动、讲座、竞赛以服务于大学生，在各位有技术特长的学长学姐和有兴趣的同学们的团结协作下，竭力为电院输送一批技术型人才。
          </p>
          <p class="light">二·部门职能</p>
          <p class="light">
            1.进行51单片机、STM32微控制器等硬件编程的授课，模拟电路以及数字逻辑电路的设计与制作，仿真软件教学。
          </p>
          <p class="light">
            2.为科协举办的科技活动、讲座、竞赛等提供技术支持，是沟通和引导学院科创竞赛、培育我院科创氛围的核心力量，是电光院科协的龙头活动部门。
          </p>
          <p class="light">
            3.在各位老师的指导下，有技术特长的学长学姐和有兴趣的同学们的团结协助下，竭力为学院输送一批技术型人才。
          </p>
        </div>
      </div>

      <div class="card-panel hoverable col s12 m4">
        <div class="icon-block">
          <h5 class="center">计算机部</h5>
          <p class="light">一·部门定位</p>
          <p class="light">
            计算机部承担对于软件相关能力技术的培养任务，主要侧重于WEB技术，软件使用及开发等方面。
          </p>
          <p class="light">二·部门职能</p>
          <p class="light">
            1.每周根据授课计划对计算机部或科协成员集中授课，培养成员的编程能力。
          </p>
          <p class="light">
            2.负责并参与科协相关网站制作，维护与完善。
          </p>
          <p class="light">
            3.根据授课内外所学知识，组织部门成员参加相应比赛，并组织学术交流。
          </p>
        </div>
      </div>

      <div class="card-panel hoverable col s12 m4">
        <div class="icon-block">
          <h5 class="center">多办</h5>
          <p class="light">一·部门定位</p>
          <p class="light">
            媒体宣传部是科协对外宣传的窗口，是展现科协人风采的直接平台。用文字、图片、视频的方式记录科协中的大小事务。
          </p>
          <p class="light">二·部门职能</p>
          <p class="light">
            1.进行PS、AE、PR等多媒体后期处理软件的培训。为科协制作宣传视频，负责活动的海报制作。
          </p>
          <p class="light">
            2.负责微信公众号和QQ号等新媒体平台的运营，及时更新科协活动及科创信息。
          </p>
          <p class="light">
            3.负责科协活动照片的拍摄及反馈，并及时上传到网盘做好留档工作。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

<!-- {% block footer %}
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">关于EOAST</h5>
        <p class="grey-text text-lighten-4">巴拉巴拉</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      制作：<a class="brown-text text-lighten-3" href="https://github.com/insorker">insorker</a>
    </div>
  </div>
</footer>
{% endblock footer %} -->